<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Counter</title>



</head>
<body>

    <div class="container">
    <h3>
        Counter
        <small class="text-muted">{{total}}</small>
    </h3>
        <form action="/refresh" method="POST"><input action="/refresh" class="btn btn-primary" type="submit" value="Submit"></form>
        <a href="/destroy_session">Destroy</a>
    </div>
</body>
</html>